
    <div>
        <form action="artist-search" method="get">
        <input name="artist" type="search" placeholder="WA WA WI WA">
        <button>Search for an Artist</button>
        </form>
  
    </div>


